<h1>Hello angular</h1>
<h2> Bonjour {{ nom }}, tu as {{ age }} ans!! </h2>

<p> Decription </p>
<ul>
    <li> Nom : {{ nom }} </li>
    <li> Age : {{ age }} </li>
    <li> Mail : {{ email }} </li>
    <!-- <ul>
        <li> Un : {{ hobby.hobbyUn }}    </li>
        <li> Deux : {{ hobby.hobbyDeux }}    </li>
        <li> Trois : {{ hobby.hobbyTrois }}    </li>

    </ul> -->
</ul>

<button (click) = 'onClick()' >Plus d'info ! </button>

<h1> Editer </h1> 
<form>
    <div><label for="nom">Nom</label><input type='text' /></div>
    <div><label for="Age">Age</label><input type='text' /></div>
    <div><label for="Email">Email</label><input type='text' /></div>
    <div><label for="HobbyUn"></label>Hobby Un <input type='text' /></div>
    <div><label for="HobbyDeux">Hobby Deux </label><input type='text' /></div>
    <div><label for="HobbyTrois">Hobby Trois </label><input type='text' /></div>
</form>